.signup {
    border: 2px solid black;
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    box-shadow: 50px 50px 50px grey;
}

body {
    background-image: url(asset/image.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button {
    margin-top: 20px;
    padding: 10px;
}

input {
    background-color: papayawhip;
}

#myButton {
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 50px 50px 50px grey;
}

#myButton:hover {
    background-color: blue;
    box-shadow: 50px 50px 50px black;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
}