body {
  margin: 0;
  padding: 0;

}

.head-items {
  display: flex;
  color: wheat;
  gap: 25px;

}

.head-items a {
  text-decoration: none;
  color: wheat;

}

.head-items a:hover {
  color: white;
  letter-spacing: 2rem;
  transition: 5s;

}

.header-container {
  background-color: black;
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-image: url(/asset/image.png);
  background-size: cover;
  align-items: center;
  height: 100px;
}

.logo-image {
  height: 75px;
  width: 75px;
  object-fit: contain;

}

.head-items li {
  list-style: none;
  font-size: 20px;
}

.head-container {
  display: flex;
  align-items: center;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.image {
  background-image: url('/asset/anime.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
  background-attachment: fixed;
  height: 500px;
  width: 500px;
  margin-top: 25px;
}

.image1:hover {
  background-image: url('/asset/anime2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
  background-attachment: fixed;
  height: 500px;
  width: 1600px;
  transform: ease;
  transition: 5s;
}

.vi-bg {
  top: 0;
  bottom: 0;

  height: 100vh;
  width: 300vh;
  object-fit: cover;
  z-index: -1;
}

.content {
  z-index: 10;
  color: white;
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

#contact {
  height: 400px;
  width: 100%;
  background-color: lightgray;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.desc {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1000px 1000px;
  grid-template-rows: 700px 700px;
  gap :20 px;
}

.ani {
  animation: none;
}

.ani:hover {
  animation: colorchange 5s infinite;
}

@keyframes colorchange {
  0% {
    color: red;
  }

  25% {
    color: blue;
  }

  50% {
    color: green;
  }

  75% {
    color: orange;
  }

  100% {
    color: red;
  }
}
.para{
  font-size: 18px;
  width:600px;
}