.body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color:#f5f5f5;
}
.card{
    background-color:rgba(255,255,255,09);
    height:300px;
    width:500px;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:auto;
    margin-top:200px;
    box-shadow: 10px 10px 30px rgb(0,0,0,0.4);
    border-radius: 10px;
}
button{
    margin-right:10px;
    margin-top:70px;
    border-radius:5px;
    width:70px;
    height:50px;
    transition:transform 0.3 ease;
}
button:hover{
    transform:translateY(-2px);
    cursor:pointer;
}
.lbu{
    background: #fff;
    border:1px solid #ccc;
}

.dbu{
    background: #222;
    color:#fff;
}

h1{
    margin-bottom:10px;
}
body.dark{
    background: #121212;
    color: #f5f5f5;
}
body.dark .card{
    background: rgba(20,20,20,0.0);
    box-shadow: 0px 4px 18px rgba(0,0,0,7);
}

